<section>
    <h1>{{ "FEATURE_LANDING.HERO.HEADLINE" | translate }}</h1>
    <p> {{ "FEATURE_LANDING.HERO.SUBHEADLINE" | translate }} </p>
    <div class="buttons-grid">
        <button>{{ "FEATURE_LANDING.HERO.BUTTONS.BOOK_FREE_DEMO" | translate }}</button>
        <button>{{ "FEATURE_LANDING.HERO.BUTTONS.LEARN_MORE" | translate }}</button>
    </div>
    <div class="video-frame">
        <div class="video-content">
            <h3>{{ "FEATURE_LANDING.HERO.VIDEO.SEE_HOW_IT_WORKS" | translate }}</h3>
            <div class="play-btn">
                <i class="fa-solid fa-play"></i>
            </div>
        </div>
    </div>
</section>