<section>
    <h2>Our Solutions</h2>
    <div class="solutions-visualisation">
        <div class="timeline">
            <div class="line"></div>

            <div class="node left"></div>
            <div class="node center"></div>
            <div class="node right"></div>

            <div class="info-box left-box">
                <p>
                    We collect contact information and viewing preferences of every visitor on your website
                </p>
            </div>
            <div class="info-box center-box">
                <p>
                    We use the information to automate the entire sales process for your brokers, for every single visitor on your website
                </p>
            </div>
            <div class="info-box right-box">
                <p>
                    You can track and manage everything from one place
                </p>
            </div>
        </div>
    </div>
</section>