<section>
  <h2>{{ "FEATURE_LANDING.OUR_SOLUTIONS.HEADLINE" | translate }}</h2>

  <div class="solutions-visualisation">
    <div class="timeline">
      <div class="line"></div>

      <div class="node left"></div>
      <div class="node center"></div>
      <div class="node right"></div>

      <div class="info-box left-box">
        <p>{{ "FEATURE_LANDING.OUR_SOLUTIONS.INFOBOXES.INFOBOX_ONE" | translate }}</p>
      </div>

      <div class="info-box center-box">
        <p>{{ "FEATURE_LANDING.OUR_SOLUTIONS.INFOBOXES.INFOBOX_TWO" | translate }}</p>
      </div>

      <div class="info-box right-box">
        <p>{{ "FEATURE_LANDING.OUR_SOLUTIONS.INFOBOXES.INFOBOX_THREE" | translate }}</p>
      </div>
    </div>
  </div>
</section>
