main {
  width: 100%;
  padding-top: 0px; 
  color: white;
}

.full-width.container{
  width: 100%;
  height: 200vh;
}
.content-container {
  width: 90%;
  margin: 0 auto;
}
.full-width.container{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  height: 100vh;
}