<section class="rounded-section">
  <div class="rounded-container">
    <!-- Top part -->
    <div class="top-part">
      <h2 class="headline">
        {{ "FEATURE_LANDING.FEATURES.HEADLINE" | translate }}
      </h2>
      <p class="subheadline">
        {{ "FEATURE_LANDING.FEATURES.SUBHEADLINE" | translate }}
      </p>
    </div>

    <!-- Divider line -->
    <div class="divider-line"></div>

    <!-- Bottom part -->
    <div class="bottom-part">
      <div class="bottom-left">
        <img
          src="./assets/images/web_graphic.svg"
          alt="Alion Labs Include Different Features Graphic"
          class="features-graphic-image"
        />
      </div>
      <div class="bottom-right">
        <p>
          {{
            "FEATURE_LANDING.FEATURES.PARAPGRAPHS.PARAPGRAPH_ONE" | translate
          }}
        </p>
      </div>
    </div>
  </div>
</section>
