<section class="rounded-section">
  <div class="rounded-container">
    <!-- Top part -->
    <div class="top-part">
      <h2 class="headline">Features</h2>
      <p class="subheadline">This is how we turn every lead into a sale</p>
    </div>

    <!-- Divider line -->
    <div class="divider-line"></div>

    <!-- Bottom part -->
    <div class="bottom-part">
      <div class="bottom-left">
        <img
          src="/assets/images/web_graphic.svg"
          alt="Alion Labs Include Different Features Graphic"
          class="features-graphic-image"
        />
      </div>
      <div class="bottom-right">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          lacinia odio vitae vestibulum vestibulum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
          vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Vivamus lacinia odio vitae vestibulum vestibulum. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae
          vestibulum vestibulum. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          lacinia odio vitae vestibulum vestibulum. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
          vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Vivamus lacinia odio vitae vestibulum vestibulum.
        </p>
      </div>
    </div>
  </div>
</section>
