<section class="about-section">
  <h1>About Us</h1>

  <div class="subheadline-textbox">
    <p>
      Our mission, what we do, wherewe do it, why we do it, for who Our mission,
      what we do, wherewe do it, why we do it, for who why and where
    </p>
  </div>

  <h2>Meet Our Team</h2>
  <div class="profile-grid-box">
    <div class="profile-grid">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>Luka Shekelashvili</h3>
          <p class="role">CTO</p>
          <p class="desc">Chief Technology Officer</p>
        </div>
      </div>
    </div>
    <div class="profile-grid">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>Giorgi Tavadze</h3>
          <p class="role">CMO</p>
          <p class="desc">Chief Marketing Officer</p>
        </div>
      </div>
    </div>
    <div class="profile-grid">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>Sandro Tavadze</h3>
          <p class="role">CEO</p>
          <p class="desc">Chief Executive Officer</p>
        </div>
      </div>
    </div>
    <div class="profile-grid full-row">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>Anotonio Doblas Gil</h3>
          <p class="role">Director of Sales</p>
          <p class="desc">Growing our brand and reaching to audience</p>
        </div>
      </div>
    </div>
  </div>
</section>
