<section class="about-section">
  <h1>{{ 'FEATURE_LANDING.ABOUT_US.HEADLINE' | translate }}</h1>

  <div class="subheadline-textbox">
    <p>
      {{ 'FEATURE_LANDING.ABOUT_US.OUR_MISSION' | translate }}
    </p>
  </div>

  <h2>{{ 'FEATURE_LANDING.ABOUT_US.WELCOME_HEADLINE' | translate }}</h2>

  <div class="profile-grid-box">

    <!-- MEMBER ONE -->
    <div class="profile-grid">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_ONE.NAME' | translate }}</h3>
          <p class="role">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_ONE.ROLE' | translate }}</p>
          <p class="desc">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_ONE.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- MEMBER TWO -->
    <div class="profile-grid">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_TWO.NAME' | translate }}</h3>
          <p class="role">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_TWO.ROLE' | translate }}</p>
          <p class="desc">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_TWO.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- MEMBER THREE -->
    <div class="profile-grid">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_THREE.NAME' | translate }}</h3>
          <p class="role">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_THREE.ROLE' | translate }}</p>
          <p class="desc">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_THREE.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- MEMBER FOUR -->
    <div class="profile-grid full-row">
      <div class="profile-card">
        <img
          src="https://media.istockphoto.com/id/1483752333/photo/businessman-in-black-suit-posing-confidently-on-isolated-background-fervent.jpg?s=612x612&w=0&k=20&c=69RagMW6nl8z0WRCwqir2KZmwhB4ZBndb4z3WkX1jm8="
          alt="Profile"
        />
        <div class="profile-info">
          <h3>{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_FOUR.NAME' | translate }}</h3>
          <p class="role">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_FOUR.ROLE' | translate }}</p>
          <p class="desc">{{ 'FEATURE_LANDING.ABOUT_US.TEAM.MEMBER_FOUR.DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>

  </div>
</section>
