<header>
  <div class="container">
    <a href="#" class="logo">
      <img src="assets/images/logo.svg" alt="Alion Logo" />
    </a>

    <nav>
      <ul>
        <li><a href="#how-it-works">{{ 'FEATURE_LANDING.HEADER.HOW_IT_WORKS' | translate }}</a></li>
        <li><a href="#who-we-are">{{ 'FEATURE_LANDING.HEADER.WHO_WE_ARE' | translate }}</a></li>
        <li><a href="#solutions">{{ 'FEATURE_LANDING.HEADER.SOLUTIONS' | translate }}</a></li>
        <li><a href="#contact">{{ 'FEATURE_LANDING.HEADER.CONTACT' | translate }}</a></li>
      </ul>
    </nav>
  </div>
</header>